/* Reseteo de todos los estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SanSerif", sans-serif;
    color: #243238;
}

/* Estilos para el contenedor del logo y el formulario */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff; /* White background */
}

/* Estilos para el contenedor del formulario */
.login_wrapper {
    display: flex;
    align-items: center;
    gap: 0.5em; /* Añade un espacio entre el logo y el formulario */
}

/* Estilos para el logo */
.logo {
    width: 630px; /* Ajusta el ancho del logo */
    height: auto;
}

/* Contenedor del formulario */
.login_container {
    background-color: #0C254B;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

/* Estilos para el título */
h1 {
    color: white;
    margin-bottom: 1em;
}

/* Estilos para los campos de texto y contraseña */
input[type="text"], /* Se usa [] para seleccionar múltiples elementos */
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos para el botón */
button {
    background-color: #F41F00;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

/* Estilos para el botón al pasar sobre él */
button:hover {
    background-color: #E1E00B;
    font-weight: bold;
    color: black;
}
